// Variable declarations
$warning-color: #c41e3d;
$text-color: #1b2733;
$bg-dark: #2c0735;
$light-color: #fafafa;
$blue-color: #00a6fb;
$border-grey: #e6e8eb;
$light-orange: #d38b5d;

// Project wide base styles
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Poppins", "Courier New", Courier, monospace;
  }

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    font-size: 10px;
    color: $text-color;
}

.btn {
    color: $light-color;
    background: $blue-color;
    padding: 1rem 2rem;
    border-radius: .4rem;
    font-size: 1.6rem;
}

button {
    cursor: pointer;
    outline: none;
    background: transparent;
}

.file {
    &-manager {
        background: $bg-dark;
        width: 100%;
        height: 100vh;
        font-size: 1.4rem;
        position: relative;
    }

    &-listing {
        background: $light-color;
        position: absolute;
        top: 2.5rem;
        bottom: 2.5rem;
        right: 2.5rem;
        left: 2.5rem;
        border-radius: .2rem;
        overflow: scroll;
        padding: 10.1rem 5rem 3rem;
        opacity: 1;
        transition: opacity .4s ease-in-out;

        &.modal-open {
            opacity: .5;
            overflow: hidden;
        }
    }

    &-list {
        display: flex;
        border-top: 1px solid $border-grey;
        padding: 1.5em 0;
        cursor: pointer;

        &:last-child {
            border-bottom: 1px solid $border-grey;
        }
        
        & > * {
            align-self: center;
        }

        & > *:not(:first-child) {
            flex-basis: 25%;
        }

        & > *:last-child {
            display: flex;
            justify-content: flex-end;
        }
    }

    &-name {
        align-self: center;
        margin-left: 1rem;
    }

    &-icon {
        display: flex;
        flex-basis: 50%;
        color: inherit;

        & i {
            font-size: 2.5rem;
            color: $blue-color;
        }
    }

    &-actions {
        & > .edit {
            color: $blue-color;
        }

        & > .delete {
            color: $warning-color;
        }

        & button {
            margin-left: 3.5rem;
        }

        & i {
            font-size: 2rem;
        }
    }
}

.dashboard-header {
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100vw - 15rem);
    background: inherit;
    top: 2.5rem;
    padding: 2em 0;

    & button, & a {
        font-size: 2rem;
        
        & i {
            color: $text-color;
        }
    }

    & button {
        position: relative;

        &:last-child {
            margin-left: 3.5rem;

            &::before {
                content: '';
                position: absolute;
                background: $border-grey;
                height: 74%;
                width: .2rem;
                left: -2rem;
                top: .5rem;
            }
        }
    }

    & > .folder-name {
        flex-grow: 1;
        margin-left: 2rem;
    }

    .create-file {
        position: relative;
        font-size: 1.6rem;
        margin-right: 5rem;

        & .dropdown-btn {
            font-size: 1.6rem;
            cursor: pointer;
    
            & i {
                color: $light-color;
                margin-right: 1rem;
            }
        }

        & .create-options {
            position: absolute;
            top: 20px;
            background: $blue-color;
            color: #ffffff;
            width: 100%;
            border-radius: 4px;
            transition: all .4s ease-in-out;
            height: 0;
            padding: 1rem 2rem;
            z-index: -1;

            & li {
                cursor: pointer;
                margin-bottom: 1.6rem;
                margin-top: 1rem;
                transform: scale(0);
                transition: all .2s ease-in;
            }
        }

        & .dropdown-shown {
            height: 10rem;
            top: 30px;

            & li {
                transform: scaleY(1);
            }
        }
    }
}

.create-file-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3.5rem;
    background: $light-color;
    width: 35%;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: -1;
    opacity: 0;
    transition: all .5s ease-in-out;

    &.modal-open {
        z-index: 10;
        opacity: 1;
    }

    & form {
        display: flex;
        flex-direction: column;

        & .form-group {
            position: relative;
            margin-bottom: 1.5rem
        }

        & label {
            opacity: 1;
            color: inherit;
            position: absolute;
            padding: 0;
            height: 0;
            top: 18px;
            left: 20px;
            transition: all 400ms ease-in-out;
        }
        
        & input {
            height: 5.5rem;
            width: 100%;
            padding: 3.5rem 2rem 2rem;
            border-radius: .4rem;
            font-size: 1.4rem;
            font-family: inherit;
            cursor: text;
            border: 2px solid $blue-color;

            &:focus + label, 
            &:valid + label {
                opacity: 0.7;
                top: .3rem;
                font-size: 1.2rem;
            }
        }

        & .btn-group {
            display: flex;
            justify-content: space-between;

            & .btn {
                width: 45%;
                align-self: center;
                height: 5rem;

                &.cancel {
                    background: $light-orange;
                }
            }
        }
    }
}
